<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>BackboneWeather</title>

    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/template" id="selectOption">
            <option value="<%=value%>"><%=name%></option>
    </script>

    <script type="text/template" id="countrydata">
        <div class="col-sm-10 col-md-8 col-lg-6 country">
            <div class="thumbnail">
              <img src="http://www.geonames.org/flags/x/<%=alpha2Code.toLowerCase()%>.gif" alt="<%=name%>" class="flag">
              <div class="caption">
                <h4><%=name%></h4>
                <h5><small><%=subregion%></small></h5>
                <h4><u><%=translations.es%></u></h4>
                <p>Capital: <%=capital%></p>
                <p>Población: <%= _.numberFormat(population,0) %></p>
                <% if (_.isObject(weather)){ %>
                    <p>
                        <img src="http://openweathermap.org/img/w/<%=weather.weather[0].icon%>.png"><small><%=weather.weather[0].description%></small>
                    </p>

                    <p>
                        Tem: <%= _.numberFormat(weather.main.temp,2) %> °C</br>
                        Tem max: <%= _.numberFormat(weather.main.temp_max,2) %> °C</br>
                        Tem min: <%= _.numberFormat(weather.main.temp_min,2) %> °C
                    </p>
                    <p>
                        Humedad: <%=weather.main.humidity%> %
                    </p>
                    <p>
                        Presión: <%=weather.main.pressure%> hpa
                    </p>
                <% } %>               
              </div>
            </div>
          </div>
    </script>
</head>
<body>
    <main>
        <header class="col-sm-12 col-md-12">
            <div class="page-header">
              <h1>Clima de Ciudades</h1>
            </div>
        </header>

        <div class="row">
            <aside class="col-sm-4 col-md-3 col-md-push-8">
                <nav>
                    <div class="form-group">
                        <label for="region" class="col-sm-4 col-md-5">Región: </label>
                        <select name="region" id="region" class="selectpicker">
                            <option value=""></option>
                            <option value="europe">Europa</option>
                            <option value="americas">America</option>
                            <option value="asia">Asia</option>
                            <option value="africa">Africa</option>
                            <option value="oceania">Oceania</option>
                        </select>
                    </div>
                     <div class="form-group">
                        <input type="text" id="countries" placeholder="Buscar ...">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="button" id="name" class="btn btn-primary btn-order">Nombre</button>
                            <button type="button" id="population" class="btn btn-default btn-order">Población</button>
                        </div>
                    </div>
                  </nav>
            </aside>

            <section class="col-sm-6 col-md-8 col-md-pull-3">
                <blockquote>
                  <p>
                    Seleccione una región para la busqueda de paises,</br>
                    filtre u ordene su selección en el panel.
                  </br>

                  </p>
                  <footer>Desarrollo con backbonejs</footer>
                </blockquote>
            </section>

           
        </div>
        <footer class="col-sm-12 col-md-12">
            <div class="col-sm-6 col-md-6">
                <ul class="list-group">
                  <li class="list-group-item"><a href="http://openweathermap.org" target="_blank">openweathermap</a></li>
                  <li class="list-group-item"><a href="http://restcountries.eu" target="_blank">restcountries</a></li>
                  <li class="list-group-item"><a href="http://www.geonames.org" target="_blank">geonames</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6">
               <ul class="list-group">
                  <li class="list-group-item"><a href="http://jquery.com/" target="_blank">jquery</a></li>
                  <li class="list-group-item"><a href="http://getbootstrap.com/" target="_blank">bootstrap</a></li>
                  <li class="list-group-item"><a href="http://backbonejs.org/" target="_blank">backbonejs</a></li>
                  <li class="list-group-item"><a href="http://underscorejs.org/" target="_blank">underscorejs</a></li>
                  <li class="list-group-item"><a href="http://epeli.github.io/underscore.string/" target="_blank">underscore.string</a></li>
                </ul>
            </div>
        </footer>
    </main>
   
    <script type="text/javascript" src="js/vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.string.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
        _.mixin(_.str.exports());
    </script>
</body>
</html>